/* TODO: personalise topnav */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* find different font? */
  font-size: 16;
  text-decoration: none;
}

/*Dropdown on hover*/
.dropbtn {
  padding: 14px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* find different font? */
  font-size: 16px;
  border: none;
}


.dropbtn:hover {
  background-color: #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  //min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* find different font? */
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}




* {
  box-sizing: border-box;
}

/*
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/