/* font stuff */
.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
/* end of font stuff*/

/* variables */
:root {
  /* colors */
  /*
  --background-color: #EFEEE5;
  --header: #507d2a;
  */
  /* test colors palette: https://creativebooster.net/blogs/colors/green-color-palettes */
  /* second test color palette*/ 
  --brunswick-green: #344E41;
  --hunter-green: #3A5A40;
  --fern-green: #588157;
  --sage: #A3B18A;
  --sage-light: #A3B18A75;
  --timberwolf: #DAD7CD;
  --dropdown-background-color: #EFEEE5;

  --header: var(--hunter-green);
  --subheader: var(--hunter-green);
  --background-color: var(--timberwolf);
}
/* end of variables */

/* general css */
* {
  box-sizing: border-box;
}

p {
  font-size: 14pt;
  color: var(--fern-green);
}

ol {
  font-size: 14pt;
}

hr {
  color: var(--brunswick-green);
}

header {
  top: 0;
  background-color: var(--background-color);
}

@media screen and (min-width: 600px) {
  header {
    position: sticky;
  }
}

body {
  background-color: var(--background-color);
  background-attachment:fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  padding-left: 0%;
  padding-right: 0%;
}

@media only screen and (min-width: 900px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "PT Serif", serif;
  font-weight: 400;
  color: var(--brunswick-green);  
}

h1 {
  font-size: 350%;
}

p.contact {
  line-height: 300%;
}
/* end of general css*/


.home {
  color: var(--header);
}

h1.home {
  margin-bottom: 0%;
  text-align: center;
}

h6.home {
  margin-top: 0%;
  font-size: 100%;
  text-align: center;
  color: var(--subheader);
}

a:link {
  color: var(--header);
}

p {
  font-size: 14pt;
}

button {
  background-color: var(--background-color);
}

img {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

/* garden layout */
.layout {
  text-align: center;
}

img.layout {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%
}

.hidden-image {
  display: none;
}  

@media only screen and (min-width: 600px) {
  .hidden-image {
    display: inline-block;
  }  
}

/* flex container in pages stuff*/
.flex-container {
  display: block;
  align-items: stretch;
  /*align-items: center;*/
  padding-top: 5%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
  }
}
.flex-container > div {
  margin: 10px;
  text-align: left;
}

.flex-head {
  flex-basis: 30%;
  font-size: 150%;
}

.flex-body {
  flex-basis: 70%;
  line-height: 140%;
  font-size: 14pt;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.flex-event-date {
  padding-top: 80px; /* hacky way of aligning the date with the text of the event*/
  padding-right: 10px;
  min-width: 170px;
}

.flex-event-info {
  flex-basis: 60%;
}
/* end of flex container in pages stuff*/

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* footer stuff */
/* get the footer to stay at the bottom of the page: https://matthewjamestaylor.com/bottom-footer */
#flex-body {
  display:flex;
  flex-direction:column;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}
#flex-body > footer {
  margin-top:auto;
}
/* end of footer stuff */