/* font stuff */
.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
/* end of font stuff*/

/* general css */
* {
  box-sizing: border-box;
}

p {
  font-size: 14pt;
}

ol {
  font-size: 14pt;
}

header {
  position: sticky;
  top: 0;
  background-color: #EFEEE5;
}

body {
  background-color: #EFEEE5;
  background-attachment:fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  padding-left: 15%;
  padding-right: 15%;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "PT Serif", serif;
  font-weight: 400;
}

h1 {
  font-size: 350%;
}

p.contact {
  line-height: 300%;
}
/* end of general css*/


.home {
  color: #507d2a;
}

h1.home {
  margin-bottom: 0%;
  text-align: center;
}

h6.home {
  margin-top: 0%;
  font-size: 100%;
  text-align: center;
}

a:link {
  color: #507d2a;
}

p {
  font-size: 14pt;
}

button {
  background-color: #EFEEE5;
}

img {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

/* flex container in pages stuff*/
.flex-container {
  display: flex;
  align-items: stretch;
  padding-top: 5%;
  padding-bottom: 5%;
}

.flex-container > div {
  margin: 10px;
  text-align: left;
}

.flex-head {
  flex-basis: 30%;
  font-size: 150%;
}

.flex-body {
  flex-basis: 70%;
  line-height: 140%;
  font-size: 14pt;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.flex-event-date {
  min-width: 170px;
}

.flex-event-info {
  flex-basis: 60%;
}
/* end of flex container in pages stuff*/

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* footer stuff */
/* get the footer to stay at the bottom of the page: https://matthewjamestaylor.com/bottom-footer */
#flex-body {
  display:flex;
  flex-direction:column;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}
#flex-body > footer {
  margin-top:auto;
}
/* end of footer stuff */